<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head.ejs", {
    pageTitle: "Inicio",
    cssTag: "<link rel='stylesheet' href='/css/styles-index.css'> <link rel='stylesheet' type='text/css' href='/css/slick.css'> <link rel='stylesheet' type='text/css' href='/css/slick-themeIndex.css'>"}) %>


<body>
  <%- include("./partials/header.ejs") %>
  
  <main>  
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="title-news-first">Ofertas relámpago <i class="fa-solid fa-bolt" style="color:#d5d834;" ></i></h3>
    

    <div class="responsive">
      <% for( let i = 0; i < productsDB.length; i++ ) { %>
          <div class="carrusel-container">
              <i class="far fa-heart fav-heart"></i>
              
              <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-carrusel" src="/img/products/<%= productsDB[i].image %> " alt="<%= productsDB[i].name %>"></a>
              
              <div class="info-carrusel">

                  <h2><%= productsDB[i].name %></h2>

                  <div class="price-carrusel">
                      <p>$ <%= productsDB[i].price %></p>
                  </div>

                  <% if (productsDB[i].price > 6000) { %>
                      <div class="envio">
                          <span>Envío gratis</span>     
                      </div>                                    
                  <% } %>

                  <div class="description-carrusel">
                      <% if (productsDB[i].description.length > 0 && productsDB[i].description.length < 20) { %>
                          <p><%= productsDB[i].description %></p>              
                      <% } else { %>
                          <a href="/products/detail/<%= productsDB[i].id %>"><p>Leer sobre este producto</p></a>
                      <% } %> 
                  </div>
                  
              </div>
              
              <!-- <i class="fas fa-cart-arrow-down cart-carrusel"></i> -->
          </div>
      <% } %>
  </div>
  <!-- FIN CARRUSEL -->

    <!-- <section class="productos">

      <article class="article-mobile">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[0].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[0].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[0].id %>">
              <li><%= productsDB[0].name %> </li>
            </a>
            <li>$<%= productsDB[0].price %> </li>

          </ul>

        </div>

      </article>

      <article class="article-ipad">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[1].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[1].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[1].id %>">
              <li><%= productsDB[1].name %> </li>
            </a>
            <li>$<%= productsDB[1].price %> </li>

          </ul>

        </div>

      </article>
      <% for (let i=0; i < 4; i++) { %>
      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>

            <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[i].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[i].id %>">
              <li><%= productsDB[i].name %> </li>
            </a>
            <li>$<%= productsDB[i].price %> </li>

          </ul>

        </div>
      </article>
      <% } %>

      <article class="article-desktop">


    </section> -->
    <h3 class="title-news">Lo mas vendido <i class="fa-solid fa-fire" style="color: red;"></i></h3>

    <div class="responsive">
      <% for( let i = 0; i < productsDB.length; i++ ) { %>
          <div class="carrusel-container">
              <i class="far fa-heart fav-heart"></i>
              
              <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-carrusel" src="/img/products/<%= productsDB[i].image %> " alt="<%= productsDB[i].name %>"></a>
              
              <div class="info-carrusel">

                  <h2><%= productsDB[i].name %></h2>

                  <div class="price-carrusel">
                      <p>$ <%= productsDB[i].price %></p>
                  </div>

                  <% if (productsDB[i].price > 6000) { %>
                      <div class="envio">
                          <span>Envío gratis</span>     
                      </div>                                    
                  <% } %>

                  <div class="description-carrusel">
                      <% if (productsDB[i].description.length > 0 && productsDB[i].description.length < 20) { %>
                          <p><%= productsDB[i].description %></p>              
                      <% } else { %>
                          <a href="/products/detail/<%= productsDB[i].id %>"><p>Leer sobre este producto</p></a>
                      <% } %> 
                  </div>
                  
              </div>
              
              <!-- <i class="fas fa-cart-arrow-down cart-carrusel"></i> -->
          </div>
      <% } %>
    </div>
  <!-- FIN CARRUSEL -->

      
      
    </div>
    <!-- FIN CARRUSEL -->


  </main>
  <%- include("./partials/footer.ejs") %>
  
  <!-- slick -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>
  
  <script src="/js/carrusel.js"></script>
  
  <script src="/js/sliderIndex.js"></script>
  <script src="/js/burgerMenu.js"></script>
  <script src="/js/profileMenu.js"></script>
</body>

</html>