<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <!-- ********** HEADER *********** -->
    <%- include('../views/partials/header.ejs') %>

        <!-- ********** MAIN *********** -->
        <main>
            <h3>Lo mas vendido <i class="fa-solid fa-fire" style="color: red;"></i></h3>
            <section>
                <% productos.forEach(function (productoActual) { %>
                    <% if (productoActual.category==="destacado" ) { %>
                        <article class="producto">
                            <a class="imagen-producto" href="/product-detail/<%= productoActual.id %> "><img
                                    src="/<%= productoActual.image %>"></a>
                            <div class="info-producto">
                                <i class="fas fa-truck"></i>
                                <div class="descripcion">
                                    <h4>
                                        <%= productoActual.marca + ' ' + productoActual.name %>
                                    </h4>
                                </div>
                                <p class="precio">$ <%= productoActual.price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
                            <% }) %>
            </section>
          

            <h3>Ofertas relámpago <i class="fa-solid fa-bolt" style="color:#d5d834;"></i></h3>

            <section>
                <% productos.forEach(function (productoActual) { %>
                    <% if (productoActual.category==="oferta" ) { %>
                        <article class="producto">
                            <a class="imagen-producto" href="/product-detail"><img
                                    src="/<%= productoActual.image %>"></a>
                            <div class="info-producto">
                                <i class="fas fa-truck"></i>
                                <div class="descripcion">
                                    <h4>
                                        <%= productoActual.marca + ' ' + productoActual.name %>
                                    </h4>
                                </div>
                                <p class="precio">$ <%= productoActual.price %>
                                        <p class="descuento">
                                            <%= productoActual.discount %>% off
                                        </p>
                                </p>
                            </div>
                        </article>
                        <% } %>
                            <% }) %>
            </section>

            <!-- <section>
                                <article class="producto">
                                    <a class="imagen-producto" href="/product-detail"><img
                                            src="/images/hombre/nike-court-vision-mid-1.jpg"></a>
                                    <div class="info-producto">
                                        <i class="fas fa-truck"></i>
                                        <div class="descripcion">
                                            <h4>Nike Court Vision Mid</h4>
                                        </div>
                                        <div class="pago">
                                            <p class="precio">$12.230</p>
                                            <p class="descuento">10% off</p>
                                        </div>
                                    </div>
                                </article>

                                <article class="producto">
                                    <a class="imagen-producto" href="/product-detail"><img
                                            src="/images/mujer/adidas-60s-1.jpg"></a>
                                    <div class="info-producto">
                                        <i class="fas fa-truck"></i>
                                        <div class="descripcion">
                                            <h4>Adidas 60S 2.0</h4>
                                        </div>
                                        <div class="pago">
                                            <p class="precio">$9.200</p>
                                            <p class="descuento">20% off</p>
                                        </div>
                                    </div>
                                </article>

                                <article class="producto">
                                    <a class="imagen-producto" href="/product-detail"><img
                                            src="/images/niña/adidas-racer-tr21-1.jpg"></a>
                                    <div class="info-producto">
                                        <i class="fas fa-truck"></i>
                                        <div class="descripcion">
                                            <h4>Adidas Racer TR21 Niña</h4>
                                        </div>
                                        <div class="pago">
                                            <p class="precio">$6.662</p>
                                            <p class="descuento">20% off</p>
                                        </div>
                                    </div>
                                </article>

                                <article class="producto">
                                    <a class="imagen-producto" href="/product-detail"><img
                                            src="/images/niño/adidas-velcro-advantage-1.jpg"></a>
                                    <div class="info-producto">
                                        <i class="fas fa-truck"></i>
                                        <div class="descripcion">
                                            <h4>Adidas Velcro Niño</h4>
                                        </div>
                                        <div class="pago">
                                            <p class="precio">$7.662</p>
                                            <p class="descuento">10% off</p>
                                        </div>
                                    </div>
                                </article>

                            </section> -->
        </main>

        <!-- ********** FOOTER *********** -->
        <%- include('../views/partials/footer.ejs') %>
</body>

</html>