<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-login.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- ********** HEADER *********** -->
    <%- include('../partials/header.ejs') %>

    <!-- ********** MAIN *********** -->
    <main>
     
      
        <form class="form" method="POST" action="/login">
            <h2 class="form__title">Inicia Sesión</h2>
            <p class="form__paragraph">¿Aún no tienes una cuenta? <a href="/register" class="form__link">Entra aquí</a>
            </p>

            <div class="form__container">

                <div class="form__group">
                    <input type="email" name="email" id="email" class="form__input <%= locals.errors && errors.email ? 'is-invalid' : null %>" placeholder=" ">
                    <label form="email" class="form__label">Correo electrónico:</label>
                    <%  if(locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %> 
                        </div>
                       <% } %> 
                    <spam class="form__line"></spam>
                </div>
                <div class="form__group">
                    <input type="password" name="password" id="password" class="form__input <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder=" ">
                    <label form="password" class="form__label">Contraseña:</label>
                    <%  if(locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg%> 
                        </div>
                       <% } %> 
                    <spam class="form__line"></spam>
                </div>
                <div class="botones">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;"
                        id="boton">Entrar</button>
                    </div>
                    <label><input type="checkbox" id="cbox1" value="first_checkbox" name="remember_user"> Recordar mi usuario </label><br>
            </div>
        </form>
    </main>
    <!-- ********** FOOTER *********** -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>