<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes - Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- ********** HEADER *********** -->
    <%- include('../partials/header.ejs') %>


        <!-- ********** MAIN *********** -->

        <main>
            <h2 class="titulo-main">Perfil de - <%= editUser.name %> -</h2>

            <div class="avatar">
                <img src="/images/avatar.jpg" alt="">
            </div>

            <form id="formulario" action="/perfil/<%=editUser.id%>?_method=PUT" method="POST"
                class="creacion-formulario">

                <div class="control-form">
                    <label for="nombre" class="titulos-form">Nombre:</label>
                    <input type="text" name="name" id="nombre" class="control" value="<%= editUser.name %>">
                </div>

                <div class="control-form">
                    <label for="nombreUser" class="titulos-form">Nombre de usuario:</label>
                    <input type="text" name="nameUser" id="nombreUsuario" class="control"
                        value="<%= editUser.nameUser %>">
                </div>
                <div class="control-form">
                    <label for="domic" class="titulos-form">Domicilio:</label>
                    <input type="text" name="domic" id="domic" class="control" value="<%= editUser.domic %>">
                </div>
                <div class="control-form">
                    <label for="email" class="titulos-form">Email:</label>
                    <input type="email" name="email" id="email" class="control" value="<%= editUser.email %>">
                </div>
                <div class="control-form">
                    <label for="password" class="titulos-form">Contraseña:</label>
                    <input type="password" name="password" id="nombre" class="control" value="<%= editUser.password %>">
                </div>

                <div class="botones">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Editar
                        usuario</button>
                </div>
            </form>

            <form id="formulario" action="/perfil/<%=editUser.id%>?_method=DELETE" method="POST"
                class="creacion-formulario">
                    <div class="botones">
                        <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Borrar
                            usuario</button>
                    </div>
            </form> 

        </main>


        <!-- ********** FOOTER *********** -->

        <%- include('../partials/footer.ejs') %>

</body>

</html>