<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-register.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- ********** HEADER *********** -->
    <%- include('../partials/header.ejs') %>


        <!-- ********** MAIN *********** -->
        <main>
            <h2 class="titulo-main">Formulario de Registro</h2>
            <form id="formulario" method="POST" action="/register" class="creacion-formulario" enctype="multipart/form-data">
                <div class="control-form">
                    <label for="nombre"></label>
                    <input 
                        type="text" 
                        name="name" 
                        id="nombre" 
                        class="control <%= locals.errors && errors.name ? 'is-invalid' : null %>" 
                        placeholder="Nombre y apellido"
                        value="<%= locals.oldData ? oldData.name : null %>"
                    >
                    <% if(locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </div>

                <div class="control-form">
                    <label for=""></label>
                    <input 
                        type="text" 
                        name="nameUser" 
                        id="nombre-usuario" 
                        class="control <%= locals.errors && errors.nameUser ? 'is-invalid' : null %>"
                        placeholder="Nombre de usuario"
                        value="<%= locals.oldData ? oldData.nameUser : null %>"    
                    >
                    <% if(locals.errors && errors.nameUser) { %>
                        <div class="text-danger">
                            <%= errors.nameUser.msg %>
                        </div>
                        <% } %>
                </div>

                <!-- <div class="control-form">
                    <label for="fecha" class="titulos-form">Fecha de nacimiento</label>
                    <input 
                        type="date" 
                        name="fechaNaci" 
                        id="fecha" 
                        class="control <%= locals.errors && errors.fechaNaci ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.fechaNaci : null %>"    
                    >
                    <% if(locals.errors && errors.fechaNaci) { %>
                        <div class="text-danger">
                            <%= errors.fechaNaci.msg %>
                        </div>
                        <% } %>
                </div> -->

                <div class="control-form">
                    <label for="domicilio"></label>
                    <input 
                        type="text" 
                        name="domic" 
                        id="domicilio" 
                        class="control <%= locals.errors && errors.domic ? 'is-invalid' : null %>" 
                        placeholder="Domicilio"
                        value="<%= locals.oldData ? oldData.domic : null %>"    
                    >
                    <% if(locals.errors && errors.domic) { %>
                        <div class="text-danger">
                            <%= errors.domic.msg %>
                        </div>
                        <% } %>
                </div>

                <div class="control-form">
                    <label for="email"></label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email" 
                        class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                        placeholder="Email"
                        value="<%= locals.oldData ? oldData.email : null %>"    
                    >
                    <% if(locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </div>

                <div class="control-form">
                    <label for="contraseña"></label>
                    <input 
                        type="password" 
                        name="password" 
                        id="contraseña" 
                        class="control <%= locals.errors && errors.password ? 'is-invalid' : null %>" 
                        placeholder="Contraseña">
                    <% if(locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </div>  

                <div class="control-form">
                    <label for="avatar"></label>
                    <input 
                        type="file" 
                        name="avatar" 
                        id="avatar" 
                        class="control" 
                    >                        
                </div>

                <div class="botones">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Crear
                        usuario</button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </div>
            </form>
            <div class="login">
                <p>Ya estás registrado? </p>
                <a href="/login">Ingresa aquí</a>
            </div>
        </main>


        <!-- ********** FOOTER *********** -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>