<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles-admin.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <!-- ********** HEADER *********** -->
    <%- include('../partials/header.ejs') %>

        <!-- ********** MAIN *********** -->
        <main>
            <h2 class="titulo-main">Editar producto - <%= editProduct.name %> -</h2>
            <form id="formulario" action="/product-edit/<%=editProduct.id%>?_method=PUT" method="POST" class="creacion-formulario">
                <div class="control-form">
                    <label for="nombre" class="titulos-form">Nombre producto:</label>
                    <input type="text" name="name" id="nombre" class="control" value="<%= editProduct.name %>">
                </div>
    
                <div class="control-form">
                    <label for="marca" class="titulos-form">Marca:</label>
                    <input type="text" name="marca" id="marca" class="control" value="<%= editProduct.marca %>">
                </div>

                <div class="control-form">
                    <label for="descuento" class="titulos-form">Descuento:</label>
                    <input type="number" name="discount" id="descuento" class="control" value="<%= editProduct.discount %>">
                </div>

                <div class="control-form">
                    <label for="imagen" class="titulos-form">Editar imagenes del producto</label>
                    <input type="file" name="image" id="descuento" class="control" placeholder="Imagenes">
                </div>

                <div class="control-check">
                    <label for="talles" class="titulos-form">Talles</label>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" value="22">
                        <label for="">22</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talles" value="24">
                        <label for="">24</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talles" value="26">
                        <label for="">26</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talles" value="28">
                        <label for="">28</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talles" value="30">
                        <label for="">30</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="32">
                        <label for="">32</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="34">
                        <label for="">34</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="35">
                        <label for="">35</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="36">
                        <label for="">36</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="37">
                        <label for="">37</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="38">
                        <label for="">38</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="39">
                        <label for="">39</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="40">
                        <label for="">40</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="41">
                        <label for="">41</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="42">
                        <label for="">42</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="43">
                        <label for="">43</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="44">
                        <label for="">44</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="45">
                        <label for="">45</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="46">
                        <label for="">46</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="talle" id="talle" value="47">
                        <label for="">47</label>
                    </div>
                </div>
        
                <div class="control-form">
                    <label for="descuento" class="titulos-form">Precio:</label>
                    <input type="number" name="price" id="precio" class="control" value="<%= editProduct.price %>">
                </div>
    
                <div class="control-form">
                    <label for="precio" class="titulos-form" >Descripcion del producto</label>
                    <textarea name="comentario" id="comentario" cols="30" rows="10" class="control"></textarea>
                </div>
    
                <div class="botones">
                    <button type="submit" class="boton-formulario" style="margin-right: 10px;" id="boton">Editar producto</button>
                </div>
            </form>
            
        </main>
    

        <!-- ********** FOOTER *********** -->
        <%- include('../partials/footer.ejs') %>

</body>

</html>