<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Shoes - Detalle de Producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8c2ec1b35f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>

    <!-- ********** HEADER *********** -->

    <%- include('../partials/header.ejs') %>

    <!-- ********** MAIN *********** -->

    <main>
        <div class="info-completa">
            <div class="slider-frame">
                <ul>
                    <li><img src="/<%= product.image %>" alt=""></li>
                    <li><img src="/images/hombre/nike-running-revolution-3.jpg" alt=""></li>
                    <li><img src="/images/hombre/nike-running-revolution-2.jpg" alt=""></li>
                </ul>
            </div>
            <div class="talle-cantidad-botones">
                <div class="info-producto">
                    <h1><%= product.marca %> <%= product.name %> </h1>
                    <br>
                    <div class="precio-descuento">
                        <p class="precio">$<%= product.price %> </p>
                        <% if (product.discount != 0) { %>
                         <p class="descuento"><%= product.discount %> % off</p>
                        <% } %>
                    </div>
                </div>
                <div class="radio">
                    <b>
                        <h3>Talles disponibles</h3>
                    </b>
                  
                    <input type="radio" name="SeleecionarTalle" id="40">
                    <label for="38">38</label>

                    <input type="radio" name="SeleecionarTalle" id="40">
                    <label for="40">40</label>

                    <input type="radio" name="SeleecionarTalle" id="42">
                    <label for="42">42</label>

                    <input type="radio" name="SeleecionarTalle" id="43">
                    <label for="43">43</label>
                </div>

                <div class="cantidad-productos">
                    <b><label class="cantidad">Cantidad</label></b>
                    <input type="number" name="cantidad">
                </div>

                <div>
                    <button type="button" class="boton-carrito">Agregar a carrito</button>
                </div>
            </div>
        </div>
        <div class="descripcionTexto">
            <b>
                <h2>Descripción</h2>
            </b>
            <div class="descripcion-zapa">
                <p>Las Zapatillas <%= product.marca %>  <%= product.name %>  son un calzado todoterreno
                    ideal para los atletas más jóvenes.
                    Su capellada es ligera y transpirable para aportar mayor confort y
                    cuenta con un talón con revestimiento para brindar soporte y estabilidad en cada
                    pisada.
                    Tiene una espuma suave en la planta del pie para mejorar la amortiguación y
                    ayudarte en cada actividad que elijas.
                </p>
            </div>
        </div>

        <div class="característicasLista">
            <h3>Características</h3>
            <nav class="caractisticas">
                <ul>
                    <li>Género: Unisex</li>
                    <li>Adecuado para: Correr</li>
                    <li>Material: Malla</li>
                    <li>Beneficios: Amortiguación</li>
                    <li>Composicion: Capellada</li>
                    <li>Caña: Baja</li>
                    <li>Ajuste: Con cordones</li>
                    <li>Suela: goma</li>
                    <li>Origen: Importado</li>
                    <li>Marca: Nike</li>
                </ul>
            </nav>
        </div>

    </main>

    <!-- ********** FOOTER *********** -->

    <%- include('../partials/footer.ejs') %>

</body>

</html>